*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.o
MonteCarlo.pdf
MonteCarlo.run.xml
*eps-converted-to.pdf
*-blx.bib
presentation.pdf
makePI
Info.plist
c-rand
dev_rand
park-miller
mersenne-twister
boost